@model MVC_leaflet.DB.Place

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Place</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeCD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressObjectCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressObjectCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressObjectTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressObjectTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressObjectDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressObjectDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroidXCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroidXCoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroidYCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroidYCoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroidDDECoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroidDDECoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroidDDNCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroidDDNCoordinate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
