@model MVC_leaflet.DB.Place

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeCD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeCD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressObjectCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressObjectCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressObjectTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressObjectTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressObjectDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressObjectDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroidXCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroidXCoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroidYCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroidYCoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroidDDECoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroidDDECoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroidDDNCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroidDDNCoordinate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
